html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
a:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block; /**/
}
.text-center {
  text-align: center;
}
.contenedor-navegacion {
  border-top: 1px solid #e1e1e1;
}
.btn {
  background-color: #8cbc00;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
}

.btn:hover {
  background-color: #769c02;
}

.nombre-sitio {
  margin-top: 5rem;
  text-align: center;
}

.nombre-sitio span {
  color: #037bc0;
}

.nav-principal {
  /*    border: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;*/
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navegacion {
  background-color: #e1e1e1;
}

.navegacion a {
  text-transform: uppercase;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.categorias {
  padding-top: 5rem;
}

.categoria a {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.sobre-nosotros {
  margin-top: 5rem;
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url(../img/nosotros.jpg);
  background-position: left center;
  padding: 10rem 0;
  background-repeat: no-repeat;
  /*background-size: 100%, 120rem;*/
  background-size: cover; /*al hacerlo con  medida en moviles se vera que la imagen no se ajusta con la parte derecha*/
}
/*
.sobre-nosotros-grid{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  column-gap: 8rem;
  
}
.texto-nosotros{
  padding-left: 10rem;
  grid-column: 2/3;
}
*/
.sobre-nosotros-grid {
  display: flex;
  justify-content: flex-end;
}
.texto-nosotros {
  flex-basis: 40%;
  padding-left: 10rem;
  color: #fff;
}
.contenido-principal {
  margin-top: 5rem;
}
.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.producto:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img {
  height: 44rem;
  width: 100%;
  object-fit: cover;
}
.producto:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 4;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.producto:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 7;
}
.producto:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.producto:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.producto:nth-child(6) {
  grid-column-start: 5;
  grid-column-end: 7;
}
.producto {
  background-color: #037bc0;
}
.texto-producto {
  text-align: center;
  color: #fff;
  padding: 2rem;
}
.texto-producto h3 {
  margin: 0;
}
.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}
.texto-producto p {
  margin: 0 0 0.5rem;
}
.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 5rem;
  padding-top: 5rem;
}
.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid-footer  a {
  display: block;
}
footer p {
  text-align: center;
}
